.board {
  padding-top: 89px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__board__header {
    margin-top: 35px;
  }

  .columns-container {
    width: inherit;
    display: flex;
    box-sizing: border-box;
    padding-left: 40px;
    justify-content: flex-start;
    padding-top: 30px;
  }

  .button-add-item {
    min-width: 250px;
    width: 250px;
    height: 40px;
    margin: 0 8px;
    justify-content: flex-start;
    padding: 0px 10px;
    background-color: #f0f0f1;
    color: #6a93e8;
  }

  .all-columns {
    display: flex;
  }
}
