.boards {
  padding-top: 89px;
  width: 100%;
  min-height: calc(100vh - 158px);
  background-repeat: no-repeat;
  background-size: cover;

  .boards__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  &__card {
    padding: 10px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    background-color: #6a93e8;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: #315db5;
    }
  }
}
