.footer {
  background-color: #f0f0f1;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1400px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__side {
    width: 50%;
  }
}

.footer .rs-logo {
  height: 20px;
  margin-right: 10px;
}
