.footer {
  background-color: #f0f0f1;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1400px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__RS-link {
    display: flex;

    @media screen and (min-width: 320px) and (max-width: 768px) {
      align-items: flex-start;
    }
  }

  .rs-logo {
    height: 20px;
    margin-right: 10px;
  }
}
